<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/design-patterns/tests" />
        <option value="$PROJECT_DIR$/php-docker/app/tests" />
        <option value="$PROJECT_DIR$/php-right-way/tests" />
        <option value="$PROJECT_DIR$/symfony-microservice/tests" />
        <option value="$PROJECT_DIR$/symfony-async/tests" />
      </list>
    </option>
  </component>
</project>